.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    border-bottom: 1px solid #ACACAC;
    box-sizing: border-box;
    padding: 0 40px;
    transition: 0.2s;
    position: sticky;
    top:0;
    background-color: #fff;
    z-index: 3;
}

.product-name{
    width: 50px;
    flex-grow: 1;
}

.navigational-links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav_item{
    padding: 0 35px;
}

.nav_link{
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.012em;
    transition: transform .2s;
}

.active{
    color:green;
}